**Q1 What are data structures, and why are they important?**

  - Data structures are different pre defined ways to read a data in python like Lists,Tuples,Sets,Disctionary.
  - The importance of data structure is it provides an effecient way to run code, makes it easier and readable. and provides a structure to the codes

**Q2 Explain the difference between mutable and immutable data types with examples**
  - Mutable data sets are sets for which the value of that data set can be change after it has been created.
  - immutable data sets are where the value of the data set cannot be changed.

**Q3 What are the main differences between lists and tuples in Python3**
  - Tuples are immutable data sets which cannot be changed and is used for data which is fixed. Tuples are stored in () paranthesis
  - Lists are mutable data sets which can be changed and is used for flexible data sets. Lists is stored in [] square brackets.

**Q4  Describe how dictionaries store data**
  - Dictionaries are stored in form of Keys and values data. where key acts as a sort of header and values as the result of that header or label.
  - Example :- Student = {Name: "Rahul",Classes: "Data Structure"}

**Q5 Why might you use a set instead of a list in Python?**

  -Sets in python automatically store only the unique values and removes the duplicate values. Hence if you have to store a data which is unique in nature the idea is to store it in a set instead of lists

**Q6 What is a string in Python, and how is it different from a list ?**

  - A string is a sequence of characters stored in quotes like "PW Skills"
  - whereas, list is a collection of items stored in []  like, lst=["Orange","Banana","Apple"]

**Q7 How do tuples ensure data integrity in Python?**

  - Tuples are immutable in nature which ensures the data integrity in python.
  - as we can store a data which is fixed in nature in tuples so that it can't be changed,added or deleted.

**Q8 What is a hash table, and how does it relate to dictionaries in Python?**
  
  - A hash table is a data structure that stores data in key-value pairs using a hash function.It converts the key into a number (called a hash) to decide where to store the value.It's very fast for searching, inserting, and deleting values.
  - In Python a dictionary is built in implementation of a hash funtion as it also store data in keys and values.

**Q9  Can lists contain different data types in Python?**
  - Yes list can store any sort of data types as the heterogeneous in nature which means they can store data in any data type like Int,Float,String,Special characters, nested list, dictionary.

**Q10 Explain why strings are immutable in Python?**

  - the nature of string in python is immutable as changing the value of a string will change its use case. so instead of modifying the string value. pythoon creates a new one.

**Q11 What advantages do dictionaries offer over lists for certain tasks?**

  - As dictionary stores data in keys and values format it becomes easier to pull the data for look ups.
  - it helps in the clear differentiation of data as keys works as label so storing data in that format provides it an easier understandabitlity

**Q12  Describe a scenario where using a tuple would be preferable over a list?**
  - Since tuples are immutable in nature. the use cases of tuple over list becomes very specific.
  - also it provides a clear reprsentation to a programmer that the data store in this variable is fixed.
  - Any scenario where the data needs to be remain unchaged tuples are always preferable. for example storing Map co-ordinates, Customer ID, date of births.

**Q13 How do sets handle duplicate values in Python?**
  - In python the key feature of a set is that it only stores the unique values hence removing the duplicate values.

**Q14 How does the “in” keyword work differently for lists and dictionaries3**

  - In Lists the "in" keyword seaches for the value in the stored list. for eg a=["apple","banana"] "apple" in a
  - In Dictionary "in" check if the key exists for e.g class={"Name":"Ram","Age":22} print("name" in class)

**Q15 Can you modify the elements of a tuple? Explain why or why not?**
  - No, you can’t modify elements of a tuple because tuples are immutable in Python. That means once a tuple is created, its contents are locked in and can't be changed, added to, or removed.

**Q16 What is a nested dictionary, and give an example of its use case3**
  - Nested dictionary is where a dictionary is stored inside a dictionary.this is usually done to store heirerchal or complex data
  - its use case is storing records like student data, marks in subjects, employee infomation
  eg employees = {
    "emp1": {"name": "Ram", "department": "HR", "age": 25},
    "emp2": {"name": "Shyam", "department": "IT", "age": 30}
}

**Q17 Describe the time complexity of accessing elements in a dictionary?**
  - Time complexity tells us how fast or slow an operation is depending on the size of the data.
  - This means you can quickly get a value using its key, no matter how big the dictionary

**Q18 In what situations are lists preferred over dictionaries?**
  - Use a list when you just need to store values in order, like a sequence of numbers or names. They are ideal if you dont need labels and you want to allow duplicates. Lists also keep items in the order you add them.

**Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?**
  - Dictionaries are considered unordered because they did not preserve the order in which items were added. This meant that when you retrieved or printed items, their sequence could appear random.

**Q20 Explain the difference between a list and a dictionary in terms of data retrieval.**
  - The main difference between list and dictionaries data retreival is how you access the data.
  - in list the data is extracted based on indexes the index starts from 0
  - whereas in dictionaries the data is store in form of keys and values and their extraction is done by calling out the Keys.

### **Practical Questions**

In [1]:
#Q1 Write a code to create a string with your name and print it?
name="Rahul"
print(name)

Rahul

In [2]:
#Q2 Write a code to find the length of the string "Hello World"?
string="Hello World"
print(len(string))

11

In [3]:
#Q3 Write a code to slice the first 3 characters from the string "Python Programming"?
string="Python Programming"
print(string[0:3])

Pyt

In [4]:
#Q4 Write a code to convert the string "hello" to uppercase?
string="hello"
print(string.upper())

HELLO

In [5]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?
string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [6]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it?
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [7]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]?
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lst=['a', 'b', 'c', 'd']
print(lst[1])

b

In [16]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50]?
lst=[10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [17]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it?
tpl=(100,200,300)
print(tpl)

(100, 200, 300)

In [18]:
#Q12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tpl=('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

In [19]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tpl=(10, 20, 5, 15)
print(min(tpl))

5

In [20]:
#Q14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tpl=('dog', 'cat', 'rabbit')
print(tpl.index("cat"))

1

In [24]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=("Apple","Banana","Orange","Kiwi")
print("Kiwi" in fruits)

True

In [26]:
#Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

In [25]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1={1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [27]:
#Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [29]:
#Q19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1, 2, 3}
set2={3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [31]:
#Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1, 2, 3}
set2={2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [33]:
#Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={"name":"Rahul","age":22,"city":"Delhi"}
print(dict1)

{'name': 'Rahul', 'age': 22, 'city': 'Delhi'}

In [35]:
#Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict2={'name': 'John', 'age': 25}
dict2["country"]="USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3={'name': 'Alice', 'age': 30}
print(dict3["name"])

Alice

In [38]:
#Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop("age")
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#Q25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5={'name': 'Alice', 'city': 'Paris'}
print("city" in dict5)

True

In [41]:
#Q26 Write a code to create a list, a tuple, and a dictionary, and print them all.
lst=[1,2,3]
print(lst)
tpl=(1,2,3)
print(tpl)
dict1={"Name":"Rahul","Age":22}
print(dict1)

[1, 2, 3]
(1, 2, 3)
{'Name': 'Rahul', 'Age': 22}

In [42]:
#Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

number=random.sample(range(1,100),5)
number.sort()
print(number)

[51, 55, 72, 78, 82]

In [43]:
#Q28 Write a code to create a list with strings and print the element at the third index.
lst=["Apple","Banana","Orange","Kiwi"]
print(lst[2])

Orange

In [44]:
#Q29 Write a code to combine two dictionaries into one and print the result
dict1={"Name":"Rahul","Age":22}
dict2={"City":"Delhi","Country":"India"}
dict1.update(dict2)
print(dict1)

{'Name': 'Rahul', 'Age': 22, 'City': 'Delhi', 'Country': 'India'}

In [45]:
#Q30 Write a code to convert a list of strings into a set
lst=["Apple","Banana","Orange","Kiwi"]
print(set(lst))

{'Orange', 'Apple', 'Banana', 'Kiwi'}